{% extends "base.html" %}

{% block title %}eGazeciarz - Strona Główna{% endblock title %}

{% block body %}
  <div class="jumbotron" >
      <div class="container">

  <h1>Cześć!</h1>
  <p>Tutaj powstaje nowa wersja serwisu eGazeciarz.pl.
Rozwój nowej (otwarto źródłowej) wersji projektu, można śledzić na bieżąco pod adresem <a href="http://dev.eGazeciarz.pl/">http://dev.eGazeciarz.pl/</a>.

Ponieważ eGazeciarz to serwis tworzony dla użytkowników, będziemy bardzo wdzięczni, za wszystkie rady, sugestie, czy pomysły, jakimi można się z nami dzielić pod adresem <a href="https://egazeciarz.uservoice.com/">https://egazeciarz.uservoice.com/</a>

  </div>
</div>

{% endblock body %}