{% extends "egazeciarz/base.html" %}
{% load widget_tweaks static %}

{% block title %}eGazeciarz - Ranking subskrypcji{% endblock title %}

{% block js %}
    {% if is_dev %}
        <script src="{% static "js/jquery.tablesorter.js" %}" ></script>
    {% else %}
        <script src="{% static "js/jquery.tablesorter.min.js" %}" ></script>
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#tabletosort").tablesorter();
        });
    </script>
{% endblock js %}
{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Ranking subskrypcji</h1>
        </div>
        <table id="tabletosort" class="table table-striped table-condensed">
            <thead>
                <tr class="active">
                    <th class="text-center">
                        #
                    </th>
                    <th class="text-center">
                        Nazwa serwisu
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th class="text-center">
                        Liczba subskrypcji
                        <span class="glyphicon glyphicon-sort"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for subscription in subscriptions %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center"><a href="{{ subscription.website_url }}" target="_blank">{{ subscription.visable_name }}</a></td>
                    <td class="text-center">{{ subscription.userssubs_set.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}
