{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="description" content="eGazeciarz to projekt, który pozwala Ci w łatwy sposób zasubskrybować interesujące Cię treści wprost na Twój czytnik." />
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />

    <title>{% block title %}eGazeciarz{% endblock title %}</title>

    <!-- CSS -->
    {% if is_dev %}
      <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >
      <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}" >
      <link rel="stylesheet" href="{% static "css/font-awesome.css" %}" >
    {% else %}
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" >
      <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}" >
      <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" >

    {% endif %}
    <link rel="stylesheet" href="{% static "css/bootstrap-social.css" %}" >
    <link rel="stylesheet" href="{% static "css/style.css" %}" >
    {% block css %}{% endblock css %}

    <!-- JavaScript -->
    {% if is_dev %}
      <script src="{% static "js/jquery-1.10.2.js" %}"></script>
      <script src="{% static "js/bootstrap.js" %}" ></script>
    {% else %}
      <script src="{% static "js/jquery-min-1.10.2.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}" ></script>
    {% endif %}
    {% endblock head %}
  </head>
  <body>
    {% if not is_prod %}
        <div class="ribbon {{ ENV }}"> DEBUG {% if DEBUG %}ON{% else %}OFF{% endif %} </br> {{ ENV|upper }}</div>
    {% endif %}
    {% block navbar %} {% include "egazeciarz/navbar.html" %} {% endblock %}
    {% block body %}{% endblock body %}
    {% block js %}{% endblock js %}
  </body>
</html>
