{% extends 'services/service_base.html' %}

{% block title %}eGazeciarz - {{ name }}{% endblock title %}

{% block section_navigation %}
    {% for section in sections %}
        <a href="{% url 'services:save' id %}" class="list-group-item text-center{% if section.id == section_id %} active{% endif %}">{{section.name}}</a>
    {% endfor %}
{% endblock section_navigation %}

{% block inner_content %}
    <div class="bhoechie-tab-content active">
        {% include "services/service_page_view.html" %}
    </div>
{% endblock inner_content %}