{% extends 'services/service_base.html' %}

{% block title %}eGazeciarz - Serwisy{% endblock title %}

{% block section_navigation %}
    {% for section in sections %}
        <a href="#" class="list-group-item text-center{% if forloop.first %} active{% endif %}">{{section.name}}</a>
    {% endfor %}
{% endblock section_navigation %}


{% block inner_content %}
    {% for section in sections %}
        <div class="bhoechie-tab-content{% if forloop.first %} active{% endif %}">
            {% include "services/services_thumbnails_view.html" %}
        </div>
    {% endfor %}
{% endblock inner_content %}
