<!-- {{ section.name }} -->
<div class="row" >
    <div class="page-header">
        <h1>Antyweb.pl<br /> <small>Dziennik</small></h1>
        <h4><small>Grzegorz Marczak opisuje wydarzenia w Polskim i światowym internecie.</small></h4>
    </div>
    <div class="week">
        <form action="/" method="get">
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="monday"> Poniedziałek
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="tuesday"> Wtorek
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="wednesday"> Środa
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox4" value="thursday"> Czwartek
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox5" value="friday"> Piątek
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox6" value="saturday"> Sobota
            </label>
                <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox7" value="sunday"> Niedziela
            </label>
            <h5>Wyślij po:</h5>
            <select multiple class="form-control">
                {% for _ in 'i'|center:24 %}
                    <option>{{ forloop.counter0 }}:00</option>
                {% endfor %}
            </select>
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-default">Wyślij teraz</button>
                <button type="submit" class="btn btn-default">Pobierz teraz</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>

        </form>
    </div>

</div>
