{% extends "egazeciarz/base.html" %}
{% load static widget_tweaks %}

{% block title %}eGazeciarz - Panel użytkownika{% endblock title %}
{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Twoje konto</h1>
        </div>
        <div class="container">
            <h4>Dodaj adres wysyłki na czytnik/telefon:</h4>
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail2" placeholder="Adres e-mail wysyłki">
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default">Anuluj</button>
                <button type="button" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </div>
        <div class="container">
            <h4>Zmiana hasła:</h4>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword1" placeholder="Dotychczasowe hasło">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword2" placeholder="Nowe hasło">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Powtórz nowe hasło">
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default">Anuluj</button>
                <button type="button" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </div>
        <div class="container">
            <h4>Zmiana adresu e-mail:</h4>
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Wpisz nowy adres email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword4" placeholder="Twoje tajne hasło">
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default">Anuluj</button>
                <button type="button" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </div>
    </div>

{% endblock body %}
