{% extends "egazeciarz/base.html" %}
{% load static widget_tweaks %}

{% block title %}eGazeciarz - Panel użytkownika{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" >

  <style>
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
  }
  </style>
{% endblock css %}


{% block js %}
    <script src="{% static "js/jquery-ui.js" %}" ></script>
	<script>
	(function( $ ) {
		$.widget( "custom.combobox", {
			_create: function() {
				this.wrapper = $( "<span>" )
					.addClass( "custom-combobox" )
					.insertAfter( this.element );

				this.element.hide();
				this._createAutocomplete();
			},

			_createAutocomplete: function() {
				var selected = this.element.children( ":selected" ),
					value = selected.val() ? selected.text() : "";

				this.input = $( "<input>" )
					.appendTo( this.wrapper )
					.val( value )
					.attr( "title", "" )
					.addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
					.autocomplete({
						delay: 0,
						minLength: 0,
						source: $.proxy( this, "_source" )
					})
					.tooltip({
						tooltipClass: "ui-state-highlight"
					});

				this._on( this.input, {
					autocompleteselect: function( event, ui ) {
						ui.item.option.selected = true;
						this._trigger( "select", event, {
							item: ui.item.option
						});
					},

					autocompletechange: "_removeIfInvalid"
				});
			},

			_createShowAllButton: function() {
				var input = this.input,
					wasOpen = false;

				$( "<a>" )
					.attr( "tabIndex", -1 )
					.attr( "title", "Show All Items" )
					.tooltip()
					.appendTo( this.wrapper )
					.button({
						icons: {
							primary: "ui-icon-triangle-1-s"
						},
						text: false
					})
					.removeClass( "ui-corner-all" )
					.addClass( "custom-combobox-toggle ui-corner-right" )
					.mousedown(function() {
						wasOpen = input.autocomplete( "widget" ).is( ":visible" );
					})
					.click(function() {
						input.focus();

						// Close if already visible
						if ( wasOpen ) {
							return;
						}

						// Pass empty string as value to search for, displaying all results
						input.autocomplete( "search", "" );
					});
			},

			_source: function( request, response ) {
				var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
				response( this.element.children( "option" ).map(function() {
					var text = $( this ).text();
					if ( this.value && ( !request.term || matcher.test(text) ) )
						return {
							label: text,
							value: text,
							option: this
						};
				}) );
			},

			_destroy: function() {
				this.wrapper.remove();
				this.element.show();
			}
		});
	})( jQuery );

	$(function() {
		$( "#combobox" ).combobox();
		$( "#toggle" ).click(function() {
			$( "#combobox" ).toggle();
		});
	});
	</script>
{% endblock js %}


{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Twoje konto</h1>
        </div>
        <div class="container">
            <h4>Dodaj adres wysyłki na czytnik/telefon:</h4>

            <div class="input-group">
              <input type="text" class="form-control">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" tabindex="-1">@</button>
                <input type="text" class="btn" style="border: 1px solid #ccc;text-align: left;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </div>
            </div>

{#            <div class="input-group">#}
{#                <input type="text" class="form-control" placeholder="np. ania">#}
{#                <span class="input-group-btn" style="width:0px;"></span>#}
{#                <input type="text" class="form-control" style="width:42px;" value="@" />#}
{#                <span class="input-group-btn" style="width:0px;"></span>#}
{#                <input type="text" class="form-control" value="test2" />#}
{#            </div>#}
            <div class="alert alert-warning">

            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default">Anuluj</button>
                <button type="button" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </div>
        <div class="container">
            <h4>Zmiana hasła:</h4>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword1" placeholder="Dotychczasowe hasło">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword2" placeholder="Nowe hasło">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Powtórz nowe hasło">
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default">Anuluj</button>
                <button type="button" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </div>
        <div class="container">
            <h4>Zmiana adresu e-mail:</h4>
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Wpisz nowy adres email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword4" placeholder="Twoje tajne hasło">
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default">Anuluj</button>
                <button type="button" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </div>
    </div>

{% endblock body %}