{% extends "socialaccount/base.html" %}

{% load bootstrap %}

{% block title %}eGazeciarz - Utwórz konto{% endblock title %}

{% block body %}
    <h1>Utwórz konto</h1>

<form class="signup" id="signup_form" method="post" action="">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
  <button class="btn btn-primary" type="submit">Utwórz konto</button>
  </div>
</form>

{% endblock body %}
