{% extends "egazeciarz/base.html" %}
{% load widget_tweaks %}

{% block title %}eGazeciarz - Załóż konto{% endblock title %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Załóż konto</h1>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-lg-5 col-xs-12 col-sm-5 col-md-6">
                            {% load socialaccount %}
                            {% include "socialaccount/snippets/login_extra.html" %}
                            <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-facebook">
                                <i class="fa fa-facebook"></i> Zaloguj przez Facebooka
                            </a>
                            <a class="btn btn-block btn-social btn-google-plus">
                                <i class="fa fa-google-plus"></i> Zaloguj przez Google+
                            </a>
                            <a class="btn btn-block btn-social btn-twitter">
                                <i class="fa fa-twitter"></i> Zaloguj przez Twitter
                            </a>
                </div>
                <div class="col-lg-2 col-xs-12 col-sm-2 col-md-1 text-center">lub</div>
                <div class="col-lg-5 col-xs-12 col-sm-5 col-md-5">
                    <form class="form-horizontal" role="form" method="POST" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field|add_class:'form-control' }}
                            </div>
                            {% if field.errors %}
                                <div class="alert alert-warning">
                                     <p>{{ field.errors.as_text }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Załóż konto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
