{% load widget_tweaks %}
<h4>Zmiana hasła:</h4>
{% if not success %}
    <form id="change_password_form" action="{% url 'services:change_password' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.old_password|attr:"placeholder:Dotychczasowe hasło"|add_class:"form-control" }}
            {{ form.old_password.errors }}
        </div>
        <div class="form-group">
            {{ form.new_password1|attr:"placeholder:Nowe hasło"|add_class:"form-control" }}
            {{ form.new_password1.errors }}
        </div>
        <div class="form-group">
            {{ form.new_password2|attr:"placeholder:Powtórz nowe hasło"|add_class:"form-control" }}
            {{ form.new_password2.errors }}
        </div>
        <div class="btn-group pull-right">
            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </div>
    </form>
{% else %}
    <p>Hasło zmienione pomyslnie</p>
{% endif %}
